{% load static %}
<html>
  <head>
    <title>maid list</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.css' %}"
    />
  </head>
  <body>
    <ul>
      {% for maid in maid_list %}
      <li>{{ maid.name }}</li>
      {% endfor %}
    </ul>

    <!-- {% for maid in maid_list %}
    <div class="container bcontent">
      <h2>{{ maid.name }}</h2>
      <hr />
      <div class="card" style="width: 500px;">
        <div class="row no-gutters">
          <div class="col-sm-5">
            <img
              class="card-img"
              src="{{ maid.profile_image }}"
              alt="Suresh Dasari Card"
            />
          </div>
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title">{{ maid.name }}</h5>
              <p class="card-text">{{ maid.description }}</p>
              <p class="card-text">{{ maid.certificate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} -->
  </body>
  <script>
    src = "{% static 'bootstrap-4.5.0-dist/js/bootstrap.min.js' %}";
  </script>
</html>
